/opt/UNGS/labo/LaboratorioTPInicial/agenda/target
/opt/UNGS/labo/LaboratorioTPInicial/agenda/.classpath
/opt/UNGS/labo/LaboratorioTPInicial/agenda/.project
/opt/UNGS/labo/LaboratorioTPInicial/.metadata
